<div id="save-button-container" class="container">
    <button id="save-button" class="disabled-button"><img src="/images/iconmonstr-save-icon.svg"> Save Changes</button>

</div>
<table id="players-table" class="table-responsive">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Position</th>
            <th>Upcoming Game</th>
            <th>Current Salary</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Position</th>
            <th>Upcoming Game</th>
            <th>Current Salary</th>
        </tr>
    </tfoot>
    <tbody>

    </tbody>
</table>